.footer {
  position: relative;
  border-top: 1px solid #e6e6e6;
  padding: 10px 15px;
}
.left {
  margin-right: 15%;
}
@media (max-width: 320px) {
  .left {
    margin-right: 20px;
  }
}
.filters {
  display: inline-block;
}
.filters-item {
  display: inline-block;
  margin-right: 10px;
}
.filters-item a {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 0.6s ease;
}

.filters-item a:hover {
  border-color: rgba(175, 47, 47, 0.1);
  transition: border-color 0.6s ease;
}
.filters-item a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
